<ion-view title="Bike location">

    <ion-nav-buttons side="right">
        <button class="button" ng-click="vm.apply()" ng-disabled="vm.locked">Apply</button>
    </ion-nav-buttons>

    <div class="share-bike-edit-location">
        <label class="item item-input">
            <i class="icon ion-location placeholder-icon"></i>
            <input type="text" placeholder="Address" ng-model="vm.address">
        </label>
        <p class="coords">Coords: {{vm.coords}} </p>
        <google-map location="vm.location" zoom="17"
                    show-location-marker="true"
                    change-location="true"
                    location-icon="img/ic-pin-small.png" marker-default-icon="img/ic-bike-small.png"/>

    </div>

</ion-view>
