<ion-view hide-nav-bar="true">
    <ion-content class="db-page-phone-confirm">

        <div class="title">
            <i class="icon ion-ios7-telephone"></i><br><br>
            Enter your phone number
        </div>

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-ios7-telephone placeholder-icon"></i>
                <input type="text" placeholder="Example: 12345678901" ng-model="vm.phone">
            </label>
            <div class="padding-top">
                <button class="button button-calm button-block" ng-click="vm.submit()">
                    Next
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>