<ion-view hide-nav-bar="true">
    <ion-content class="db-page-phone-confirm">

        <div class="title">
            <i class="icon ion-ios7-telephone"></i><br><br>
            Enter your phone number
        </div>

        <div class="phoneinput">

            <div class="row">
                <div class="col">

                    <a class="item item-icon-right input-countrycode" ng-click="vm.openCodeSelector($event)">
                        <span class="plus">&plus;</span>
                        <i class="icon ion-arrow-down-b"></i> <small>{{vm.countrycode}}</small>
                    </a>

                    <small>Country code<br></small>
                </div>
                <div class="col col-75">
                    <label class="item item-input">
                        <input type="number" formnovalidate ng-model="vm.phone" ng-keyup="vm.validatePhone()">
                    </label>
                    <small>Local phone number</small>
                </div>
            </div>

        </div>

        <div class="list list-inset">

            <div class="padding-top">
                <button class="button button-calm button-block" ng-click="vm.submit()" ng-disabled="!vm.isReady()">
                    Next
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>