<ion-view title="Drop bike" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button class="button" ui-sref="app.usagemap">Usage info</button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a class="button button-energized" ng-click="vm.drop()" ng-disabled="!vm.isReadyToDrop()">Drop bike</a>
    </ion-nav-buttons>


    <ion-content>
        <div class="usage-drop-container">

            <div class="map dropbike-map">
                <p ng-show="vm.locationError" class="location-error"><i class="icon ion-alert-circled"></i> {{vm.locationError}}</p>
                <a class="dropbike-location" ng-click="vm.getCurrentLocation()"><i class="icon ion-android-locate"></i></a>
                <google-map
                        location="vm.currentLocation"
                        show-location-marker="true"
                        zoom="vm.zoom"
                        location-icon="img/ic-pin-small.png" marker-default-icon="img/ic-bike-small.png"
                        />

            </div>
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-ios7-location placeholder-icon balanced"></i>
                    <input type="text" placeholder="Location" ng-model="vm.address">
                </label>
            </div>
            <div class="photo" bg-image="vm.photo">
                <div class="prompt" ng-hide="vm.ride.hasPhoto">Please take photo of locked bike to help next user find it</div>
                <div class="takephoto">
                    <button class="button ion-camera" ng-click="vm.pickPhoto()"></button>
                </div>
            </div>

            <div class="message">
                <label class="item-input">
                    <textarea placeholder="Please leave message for next user to help him find bike" ng-model="vm.message"></textarea>
                </label>
            </div>

        </div>

    </ion-content>


    <div class="bar bar-footer footer-one-button">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-steam placeholder-icon"></i>
                <input type="text" placeholder="Enter distance in kilometes" type="number" ng-model="vm.distance">
            </label>
        </div>
    </div>

</ion-view>